
 /* --------- header --------- */

.mainNav{
    margin: 1rem 1rem 0 1rem;
}

@media screen and (min-width: 600px) and (max-width: 920px) {
    ul{
        flex-flow: column nowrap;
        align-items: center;
    
        li{
            width: 70%;
            margin: 10px 0;
    
            a{
                padding: 20px 0;
            }
        }
    
    }
}



/*  --------- about section  --------- */

#about{

    .socialMedias{
        flex-wrap: wrap;
        justify-content: center;

    
        .socialsWrapper1, .socialsWrapper2{
            margin: 0;
            width: 50%;
        }
    
        .socialsWrapper1{
            order: 1;
        }
    
        .socialsWrapper2{
            order: 3;
        }
    
    
        .myImage{
            order: 0;
            margin: 0 2rem;
        }
    }
}

/*  --------- skills section --------- */

.skillsLeft{
    justify-content: center;

    div{
        width: 10rem; 
    }
}

.skillsRight{
    margin-top: 5rem !important;
}



/*  --------- projects section --------- */

.projectsText{
    width: 80%;
}