@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
#team .sectionTitle, #about::before {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #444064;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}
body p {
  text-align: justify;
}
body .article-head {
  font-size: 1.3em;
  font-weight: normal;
  color: #ba657e;
}

a {
  color: white;
  text-decoration: none;
}

/* --------------- header --------------- */
.mainHeader {
  background: url(../../images/background.webp) center 0 no-repeat;
  background-size: cover;
  height: 100vh;
}

.headerBackground {
  background-color: rgba(68, 64, 100, 0.5);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}
.headerBackground .logoImg {
  width: 280px;
}

.headerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8%;
  margin-top: 5.5rem;
  font-size: 1.3em;
  width: 100%;
  /* &::before{
      position: absolute;
      content: '';
      height: 12rem;
      @include gradientBorders(0, 1.5px, 0, 0, to bottom);
  } */
}

.introduction {
  font-size: 1.2em;
  width: 33rem;
  padding: 1rem 0;
  padding-left: 1rem;
  border-top: 0;
  border-left: 2px;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #A34963, #f9af00);
     border-image: linear-gradient(to bottom, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
}
.introduction div > h1, .introduction div > h2, .introduction div {
  margin: 0;
  font-weight: 500;
}
.introduction div > h2 {
  color: #f9af00;
}
.introduction p {
  text-align: left;
  margin: 0.4em 0;
  padding-left: 0;
}

.mainNav {
  width: clamp(1px, 400px, 100%);
  margin: -1rem 3rem;
  height: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}
ul li {
  font-size: 1.1em;
  margin: 15px;
  background-color: rgba(202, 200, 219, 0.3);
  text-align: center;
  transition: flex-grow 0.2s ease-in-out, border 0.3s;
  box-shadow: 3px 3px 3px rgba(172, 168, 200, 0.2);
}
ul li a {
  display: block;
  padding: 20px 40px;
}
ul li:nth-child(odd) {
  margin-left: 0px;
}
ul li:nth-child(even) {
  margin-right: 0px;
}
ul li:hover {
  flex-grow: 0.5;
  background-color: rgba(142, 137, 180, 0.3);
  box-shadow: 3px 3px 2px rgba(172, 168, 200, 0.2);
}
ul li:nth-child(odd):hover {
  border-top: 0;
  border-left: 0;
  border-right: 2px;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #A34963, #f9af00);
     border-image: linear-gradient(to top right, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
}
ul li:nth-child(even):hover {
  border-top: 0;
  border-left: 2px;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #A34963, #f9af00);
     border-image: linear-gradient(to top right, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
}
ul li:last-child:hover {
  border-top: 2px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #A34963, #f9af00);
     border-image: linear-gradient(to right, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
}

/* --------------- about section --------------- */
#about {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#about::before {
  content: "Introduction";
  color: #444064;
  position: relative;
  top: -1em;
  left: -9.5em;
}
#about h2 {
  position: absolute;
  margin-top: 0;
  top: 100vh;
  font-size: 25em;
  color: #2f2c45;
  z-index: -1;
}
#about article {
  width: 80%;
  padding-top: 1em;
}
#about article section.first {
  margin: 0 auto;
  margin-bottom: 7em;
  width: 70%;
}
#about article section.second {
  position: relative;
}
#about article section.second::before {
  content: "our goals";
  font-size: 3em;
  font-weight: 600;
  color: #2f2c45;
  position: absolute;
  top: -0.75em;
  left: 1em;
}
#about article p {
  text-align: center;
  font-size: 1.05em;
}
#about article h3 {
  color: #ba657e;
  text-shadow: 3px 3px 1px #5d2938;
  font-size: 1.3em;
  font-weight: 500;
}
#about article .goals-block {
  padding: 1em 2em;
  background-color: #393654;
  margin: 4em 0;
  border-top: 0;
  border-left: 2px;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #A34963, #f9af00);
     border-image: linear-gradient(to bottom, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
}

.socialMedias {
  margin-top: 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.socialMedias .myImage {
  margin-top: -3em;
  display: flex;
  flex-flow: column nowrap;
}
.socialMedias .myImage img {
  width: 350px;
  height: auto;
  margin-bottom: 5px;
}
.socialMedias .myImage::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #787878;
  box-shadow: 0 -10px 20px 2px #6b6b6b;
}
.socialMedias .socialsWrapper1, .socialMedias .socialsWrapper2 {
  margin: 0 5.5em;
  font-size: 1.1em;
  width: 15%;
}
.socialMedias .socialsWrapper1 div, .socialMedias .socialsWrapper2 div {
  margin-top: 3em;
  display: flex;
  align-items: center;
}
.socialMedias .socialsWrapper1 div:hover > img, .socialMedias .socialsWrapper2 div:hover > img {
  transform: rotateZ(360deg);
}
.socialMedias .socialsWrapper1 img, .socialMedias .socialsWrapper2 img {
  width: 50px;
  height: auto;
  border-radius: 40%;
  margin: 0 1rem;
  transition: transform 1s;
}
.socialMedias .socialsWrapper1 {
  margin-left: 0;
}
.socialMedias .socialsWrapper1 div {
  justify-content: flex-end;
}
.socialMedias .socialsWrapper2 {
  margin-right: 0;
}
.socialMedias .fb {
  color: #129af6;
}
.socialMedias .fb a {
  color: white;
}
.socialMedias .fb a:hover {
  color: #087ecd;
  text-shadow: 0 0 1px 2px white;
}
.socialMedias .fb img {
  background-color: #129af6;
}
.socialMedias .tiktok {
  color: #000000;
}
.socialMedias .tiktok a {
  color: white;
}
.socialMedias .tiktok a:hover {
  color: black;
  text-shadow: 0 0 1px 2px white;
}
.socialMedias .tiktok img {
  background-color: #000000;
}
.socialMedias .yt img, .socialMedias .dribble img {
  padding: 5px;
  width: 40px;
  height: auto;
}
.socialMedias .dribble {
  color: #295266;
}
.socialMedias .dribble a {
  color: white;
}
.socialMedias .dribble a:hover {
  color: #1a3542;
  text-shadow: 0 0 1px 2px white;
}
.socialMedias .dribble img {
  background-color: #295266;
}
.socialMedias .yt {
  color: #55809c;
}
.socialMedias .yt a {
  color: white;
}
.socialMedias .yt a:hover {
  color: #43657b;
  text-shadow: 0 0 1px 2px white;
}
.socialMedias .yt img {
  background-color: #55809c;
}
/* --------------- skills section ---------------- */
#team {
  background-color: #33304b;
  width: 100%;
  box-sizing: border-box;
  margin: 7rem 0 0 0;
  padding: 5rem 5rem 10rem 5rem;
}
#team .sectionTitle {
  position: relative;
  top: -5.7rem;
  width: 100%;
  margin: -2rem 0;
  color: #33304b;
}

.member-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.member-list .member {
  background-color: rgba(196, 196, 196, 0.7);
  margin: 1rem;
  padding: 1rem;
  max-width: 23rem;
  text-align: center;
}
.member-list .member img {
  padding: 10px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 50%;
  width: 9rem;
  height: auto;
}
.member-list .member h3 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 0;
}
.member-list .member h4 {
  margin-top: 0;
}
.member-list .member p {
  text-align: center;
  font-size: 0.9em;
}

/* --------------- footer ---------------- */
footer {
  background-color: #2f2c45;
}

.footerContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 4rem;
  width: 21rem;
  border-top: 2px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #A34963, #f9af00);
     border-image: linear-gradient(to right, #A34963, #f9af00); /* to top right */
  border-image-slice: 1;
  text-align: center;
}
.footerContainer p {
  margin: 0.3em 0;
  text-align: center;
}
.footerContainer a {
  color: #706aa0;
}
.footerContainer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */