/* header */

.headerBackground{
    padding: 0.5rem 0rem;

    .logoImg{
        margin: 0.5rem;
        margin-left: 1rem;
    }
}


/* skills section */

.skillsLeft{
    flex-flow: column nowrap;

    div{
        flex-flow: row nowrap;
        width: 100%;
        justify-content: flex-start;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        border-radius: 20%;

        img{
            width: 30%;
            margin-right: 1rem;
        }
    }
}

.skillsRight{
    margin: 1rem !important;
    width: 100%;
    
    .skillsText{
        h2{
            font-size: 2rem;
        }
    }
}