
/* about section */

#about{
    h2{
        font-size: 22em;
        top: 28rem;
    }

    &::before{
        left: -30%;
    }
}

.socialMedias{
    flex-direction: column;

    .socialsWrapper1, .socialsWrapper2{
        margin: 0 2rem !important;
    }

    .socialsWrapper1{
        order: 1;
    }

    .socialsWrapper2{
        order: 3;
    }


    .myImage{
        order: 0;
    }
}
